.sideBounds {
    margin-left: 15%;
    margin-right: 15%;
}

.jumbotron {
    height: 15%;
    padding: 20px;
}

.mainTitle {
    text-align: center;
}

.card2 {
    margin-top: 35px;
    margin-bottom: 35px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.display-4 {
    font-size: 32px;
}

#deleteImg {
    height: 20px;
    width: auto;
    /* Make Delete Img non-clickable */
    pointer-events: none;
}

button {
    background-color: rgb(255, 255, 255); /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.table {
    margin-bottom: 0px;
}

/* canvas {
    height: 100%;
    width: 100%;
    background-color: #e9ecef;
} */